<mat-card
  *ngIf="cityWeatherReport"
  [ngClass]="{ 'dark-mode': (darkModeService.isDarkModeEnabled$ | async) }"
>
  <div class="city-card">
    <app-weather-overview
      [cityWeatherReport]="cityWeatherReport"
    ></app-weather-overview>
    <div class="city-card__report">
      <app-temperature-details
        [cityWeatherReport]="cityWeatherReport"
      ></app-temperature-details>
      <div class="city-details">
        {{ cityWeatherReport?.name }}, {{ cityWeatherReport?.sys.country }}
      </div>
      <div class="weather-description">
        {{ cityWeatherReport?.weather[0].description }}
      </div>
      <div class="details-icon">
        <app-weather-icon
          [iconName]="cityWeatherReport.weather[0].icon"
          [iconSize]="4"
        ></app-weather-icon>
      </div>
    </div>
    <div class="city-card__action">
      <button
        mat-button
        color="warn"
        [id]="'viewMoreButton' + cityWeatherReport.name"
        (click)="showHourlyForecastModal(cityWeatherReport)"
      >
        view more
      </button>
    </div>
  </div>
  <div class="background-image"></div>
</mat-card>
