mat-card {
  overflow: hidden;
  .city-card {
    padding: 20px;
    position: relative;
    z-index: 2;
    &__report {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .city-details {
        font-size: 2em;
      }
      .details-icon {
        flex-direction: column;
      }
      .weather-description {
        padding: 10px 0;
        font-size: 1.2em;
      }
    }
    &__action {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      button {
        background-color: var(--warn-button-light);
        border: 1px solid var(--warn);
      }
    }
  }
  .background-image {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background: url('../../../../assets/icons/landscape.svg');
    background-size: cover;
    height: 45%;
    filter: saturate(0);
  }
}
