<div class="city-card__overview" fxLayout="row">
  <div class="wind center-item" fxFlex="50%">
    <img src="../../../../assets/icons/windy.svg" height="20px" alt="windy" />
    <span class="image-text">{{ cityWeatherReport.wind.speed }} meter/sec</span>
  </div>
  <div class="humidity center-item" fxFlex="50%">
    <img
      src="../../../../assets/icons/humidity.svg"
      height="20px"
      alt="humidity"
    />
    <span class="image-text">{{ cityWeatherReport.main.humidity }} %</span>
  </div>
  <div class="sunrise center-item" fxFlex="50%">
    <img
      src="../../../../assets/icons/sunrise.svg"
      height="20px"
      alt="sunrise"
    />
    <span class="image-text">{{
      cityWeatherReport.sys.sunrise * 1000 | date: 'hh:mm z'
    }}</span>
  </div>
</div>
