.container {
  .form-wrapper {
    height: 100%;
    &__angular-logo {
      display: flex;
      justify-content: center;
    }
    mat-card {
      padding: 20px;
      img {
        border-radius: 100%;
        background: var(--crimson);
      }
    }
    mat-form-field {
      width: 300px;
    }
    button {
      width: 100%;
    }
  }
}
