<div class="hourly-modal-wrapper" [id]="'hourlyCard' + cityDetails.name">
  <div class="city-name">{{ cityDetails.name }}</div>
  <div
    *ngIf="hourlyForecastDetails$ | async as hourlyDetails; else showLoading"
    id="hourlyForecast"
  >
    <div
      class="hourly center-item"
      fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutGap.xs="20px"
      fxLayoutAlign="center center"
      *ngFor="let hour of hourlyDetails.hourly"
    >
      <div class="hourly__date-time" fxFlex="10%" fxFlex.xs="100%">
        <div class="time">{{ hour.dt * 1000 | date: 'h:mm a' }}</div>
        <div class="date">{{ hour.dt * 1000 | date: 'd-MM-YY' }}</div>
      </div>
      <div
        class="hourly__weather-temperature center-item"
        fxFlex="20%"
        fxFlex.xs="100%"
      >
        {{ hour.temp | temperatureConversion: 'C' }} <sup>&#8451;</sup>
      </div>
      <div
        class="hourly__weather-real-feel-temperature center-item"
        fxFlex="15%"
        fxFlex.xs="100%"
      >
        Reel feel {{ hour.feels_like | temperatureConversion: 'C' }}
        <sup>&#8451;</sup>
      </div>
      <div
        class="hourly__weather-uvi center-item"
        fxFlex="10%"
        fxFlex.xs="100%"
      >
        <img
          src="../../../../assets/icons/ultraviolet.svg"
          height="20px"
          alt="ultraviolet-icon"
        />
        {{ hour.uvi }}
      </div>
      <div
        class="hourly__weather-icon center-item"
        fxFlex="20%"
        fxFlex.xs="100%"
      >
        <app-weather-icon
          [iconName]="hour.weather[0].icon"
          [iconSize]="2"
        ></app-weather-icon>
      </div>
      <div
        class="hourly__weather-description center-item"
        fxFlex="10%"
        fxFlex.xs="100%"
      >
        {{ hour.weather[0].description }}
      </div>
    </div>
  </div>
  <ng-template #showLoading>
    <div class="loader center-item">
      <mat-spinner color="warn"></mat-spinner>
    </div>
  </ng-template>
</div>
